html {
	background: #232323;
	font-size: 17px;
}

a:link{
	color: #90D8D8;
	text-decoration: none;
}

a:visited {
  color: #90D8D8;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #e1e1e1;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #ffffff;
  background-color: transparent;
  text-decoration: underline;
}

@media only screen and (min-width: 1920px) {
	.mobile-off {
		display: block;
	}
	.mobile-on {
		display: none;
	}
	.welcome {
		padding-left: 32px;
		padding-right: 32px;
	}
}

/*--------------------------------------------------------------------*/
@font-face {
	font-family: "MyFont";
	src: url('../css/MPLUSRounded1c-Regular.woff');
  }

body {
	font-family: "MyFont";
	color: #e1e1e1;
	background-image: contain;
	margin: 0;
}

@media only screen and (max-width: 1920px) and (min-width: 1080px) {
	.mobile-off {
		display: block;
	}
	.mobile-on {
		display: none;
	}
	.welcome {
		padding-left: 32px;
		padding-right: 32px;
	}
	.welcome img {
		width: 100%;
	}
	.thumb {
		width: 100%;
		max-width: 1076px;
	}
	.thumbArt {
		height: 100%;
		max-height: 600px;
	}
}

@media only screen and (max-width: 1080px) {
	.mobile-off {
		display: none;
	}
	.mobile-on {
		display: block;
	}
	.welcome {
		padding-left: 32px;
		padding-right: 32px;
	}
	.welcome img {
		width: 100%;
		flex: 1;
		display: flex;
	}
	.thumb {
		width: 100%;
		max-width: 1076px;
	}
	.thumbArt {
		height: 100%;
		max-height: 600px;
	}
}

.description{
	border: 0px;
	padding-left: 32px;
	padding-right: 32px;
}

.header {
	//background: #19523E;
	background: #24246C;
	display: table-cell;
	vertical-align: bottom;
	height: 50px;
	width: 4000px;
	padding-left: 32px;
}

.blog {
	border: 0px;
	padding-left: 32px;
	padding-right: 32px;
}

.blogpost {
	width: 1024px;
}

.works {
	border: 0px;
	padding-left: 27px;
	padding-right: 32px;
}

.artwork {
	border: 0px;
	padding-left: 32px;
	padding-right: 32px;
}

.works img {
	padding-left: 5px;
}

/*--------------------------------------------------------------------*/

footer {
	margin: 0;
	border: 0px;
	padding-left: 32px;
	padding-right: 32px;
	text-align: center;
}